@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --SOFT-BLUE: #8bacd9;
  --WHITE: #ffffff;
  --CYAN: #00fff8;
  --CYAN-OP: hsla(178, 100%, 50%, 0.503);
  --DARK-BLUE-MAIN-BG: #0d192c;
  --DARK-BLUE-CARD-BG: #15263f;
  --DARK-BLUE-LINE: #2e405a;

  /* TYPOGRAPHY */
  --FF: "Outfit", sans-serif;

  /* Desktop */
  --HEADING: 600 1.38rem var(--FF);
  --BODY: 300 1.13rem/1.63rem var(--FF);
  --CAPTION: normal 1rem var(--FF);
  --CAPTION-BOLD: 600 1rem var(--FF);

  /* Mobile */
  --CAPTION-MOB: normal 0.94rem var(--FF);
  --CAPTION-BOLD-MOB: 600 0.94rem var(--FF);

  /* SHADOW */
  --SHADOW: 0px 25px 50px 0px hsla(0, 0%, 0%, 0.0953);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px; /* 1rem = 16px */
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  background-color: var(--DARK-BLUE-MAIN-BG);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
}

/* || NFT-CARD */
.nft-card {
  max-width: 327px;
  min-height: 543px;
  background-color: var(--DARK-BLUE-CARD-BG);
  border-radius: 15px;
  box-shadow: var(--SHADOW);
  padding: 1.5rem 1.56rem 1.5rem 1.5rem;
  margin: 3.88rem 1.5rem;
}

/* || NFT-CARD-IMAGE */
.nft-card__image {
  width: 278px;
  height: 278px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.nft-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* || NFT-CARD-CONTENT */
.nft-card__content {
  margin-top: 1.5rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.nft-card__info {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
}

.nft-card__title {
  font: var(--HEADING);
  color: var(--WHITE);
}

.nft-card__sub-text {
  font: var(--BODY);
  color: var(--SOFT-BLUE);
  max-width: 278px;
}

.nft-card__metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metadata__item-value {
  display: flex;
  align-items: center;
  gap: 0.38rem;
  color: var(--CYAN);
  font: var(--CAPTION-BOLD-MOB);
}

.metadata__item-time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--SOFT-BLUE);
  font: var(--CAPTION-MOB);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--DARK-BLUE-LINE);
}

.creator {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creator__avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid var(--WHITE);
  overflow: hidden;
}

.creator__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.creator__name {
  font: var(--CAPTION-MOB);
  color: var(--SOFT-BLUE);
}

.creator__name a {
  color: var(--WHITE);
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* || NFT-CARD */
  .nft-card {
    max-width: 350px;
    min-height: 596px;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    margin: 9.5rem 34.06rem;
  }

  /* || NFT-CARD-IMAGE */
  .nft-card__image {
    width: 302px;
    height: 302px;
  }

  .nft-card__image-overlay {
    width: 302px;
    height: 302px;
    border-radius: 8px;
    background-color: var(--CYAN-OP);
    position: absolute;
    padding: 7.94rem;
  }

  /* || NFT-CARD-CONTENT */
  .nft-card__content {
    gap: 0px;
  }

  .nft-card__info {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .nft-card__sub-text {
    max-width: 302px;
  }

  .nft-card__metadata {
    margin-bottom: 1.5rem;
  }

  .metadata__item-value {
    font: var(--CAPTION-BOLD);
  }

  .metadata__item-time {
    font: var(--CAPTION);
  }

  .line {
    margin-bottom: 1rem;
  }

  .creator__name {
    font: var(--CAPTION);
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .nft-card__image:hover .nft-card__image-overlay,
  .nft-card__image:focus-visible .nft-card__image-overlay {
    display: block;
  }

  .nft-card__title:hover,
  .nft-card__title:focus-visible {
    color: var(--CYAN);
  }

  .creator__name a:hover,
  .creator__name a:focus-visible {
    color: var(--CYAN);
  }
}
